{% extends 'AS/base.html' %}

{% block title %}宿舍管理系統 - 檢舉紀錄查詢{% endblock %}

{% block script %}{% endblock %}

{% block article %}
    <h1>檢舉紀錄查詢</h1>
    <hr class="heading">

    <script type="text/Javascript">
        function ReportDelete(id){
            var check = confirm("確定要刪除？")
                if(check==true)
                {
                   window.location.href="/RS/ReportDelete/"+id;
                }
        }
        function ReportModify(id){
             var check= confirm("請確認目前階段工作已處理完畢。")
             if(check==true)
             {
                window.location.href="/RS/ReportModify/"+id;
             }
        }
    </script>

    <div>
        <form action="/RS/ReportCheck/" method="POST">
            {% csrf_token %}
            <select class="normal-input" name="viewapply">
                <option value="1">待審核的申請</option>
                <option value="2">處理中的申請</option>
                <option value="3">已完成的申請</option>
            </select>
            <input class="button-accept" type="submit" value="開始查詢">
        </form>
    </div>
    <div>
        {% if not_empty %}
        <table class="vertical">
                {% if stage == 1 %}
                <th colspan="6" style="text-align: center; background-color: #c4c4c4">待審核的申請</th>
                {% endif %}
                {% if stage == 2 %}
                <th colspan="6" style="text-align: center; background-color: #c4c4c4">處理中的申請</th>
                {% endif %}
                {% if stage == 3 %}
                <th colspan="6" style="text-align: center; background-color: #c4c4c4">已完成的申請</th>
                {% endif %}
            <tr>
                <td>No.</td><td>被檢舉對象</td><td>類別</td><td>日期</td><td>狀態</td>
                {% if permission == 0 or permission == 1 %}
                    {% if stage != 3 %}
                    <td>
                        審核申請
                    </td>
                    {% endif %}
                {% endif %}
                {% if permission == 2 or permission == 3 %}
                    {% if stage == 1 %}
                        <td>
                            刪除申請
                        </td>
                    {% endif %}
                {% endif %}
                </tr>
                {% for repair in rec %}
                <tbody class="table-block">
                    <tr>
                        <td rowspan="2">{{repair.id}}</td><td>{{repair.accused}}</td><td>{{repair.category}}</td>
                        <td style="white-space: nowrap">{{repair.date}}</td><td><span class="attention-font">{{repair.state}}</span></td>

                        {% if permission == 2 or permission == 3 %}
                        {% if stage == 1 %}
                        <td rowspan="2">
                            <input class="button-warning" type="button" value="刪除" onclick="ReportDelete({{repair.id}})">
                        </td>
                        {% endif %}
                        {% endif %}

                        {% if permission == 0 or permission == 1 %}
                        {% if stage != 3 %}
                        <td rowspan="2">
                            <input class="button-accept" type="button" value="確認" onclick="ReportModify({{repair.id}})">
                        </td>
                        {% endif %}
                        {% endif %}
                    </tr>
                    <tr>
                        <td colspan="4">狀況描述：{{repair.content}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        {% endif %}
        </div>
        <span class="attention-font">{{messege}}</span>
{% endblock %}

{% block topbar %}

{% endblock %}

{% block navbar %}
    {% include 'RS/navbar.html' %}
{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="/RS/RepairmentApply/" class="sidebar-item">維修申請</a></li>
        <li><a href="/RS/RepairmentCheck/" class="sidebar-item">維修進度查詢</a></li>
        <li><a href="/RS/ReportApply/" class="sidebar-item">檢舉</a></li>
        <li><a href="/RS/ReportCheck/" class="sidebar-item-selected">檢舉紀錄查詢</a></li>
        <li><a href="/RS/Conductjudge/" class="sidebar-item">違規記點</a></li>
        {% if permission == 0 or permission == 1 %}
            <li><a href="/RS/ConductCheck/" class="sidebar-item-limited">違規停權名單</a></li>
        {% endif %}
    </ul>
{% endblock %}