<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% load staticfiles %}

    <link rel="shortcut icon" href={% static "AS/favicon.ico" %} type="image/x-icon">
    <link rel=stylesheet type="text/css" href={% static "AS/main_style.css" %}>

    {% block script %}{% endblock %}
</head>

<body id="body">
    <div id="main-container">
        <header id="header">
            <div id="system-logo">
                <span><img src={% static "AS/logoword_.png" %} width=300 height=60></span>
            </div>
            <div id="system-title">
                <span>宿舍管理系統</span>
            </div>
            <div id="login">
                {% if request.user.is_authenticated %}
                <span>
                    {% if request.user.is_superuser %}
                        admin，你好。
                    {% else %}
                        {{ request.user.first_name }}，你好。
                    {% endif %}
                </span>
                <span>
                    <a href="/AS/logout/" class="login-button">登出</a>
                </span>
                {% else %}
                <span>
                    尚未登入。
                </span>
                <span>
                    <a href="/AS/login/" class="login-button">登入</a>
                </span>
                {% endif %}
            </div>
        </header>

        <div id="content-container">
            {% block topbar %}{% endblock %}

            <nav id="navbar">
                {% block navbar %}{% endblock %}
            </nav>

            <div id="content">
                <aside id="sidebar">
                    <div id="sidebar-guide"></div>
                    <div id="sidebar-list">{% block sidebar %}{% endblock %}</div> 
                </aside>
                <div id="article">{% block article %}{% endblock %}</div>
            </div>
        </div>

        <footer id="footer">
            <p>81148 高雄市楠梓區高雄大學路700號</p>
            <p>700, Kaohsiung University Rd., Nanzih District, Kaohsiung 811, Taiwan, R.O.C.</p>
            <p>高大總機：886-7-5919000 傳真號碼：886-7-5919083</p>
            <p>高大校園緊急聯絡電話：886-7-5917885 高大警衛室：886-7-5919009</p>
            <p>Web Designer: soimportant, Yabadado, NerovaRiuzGX, weiber-hsu, Ridost, tratitude</p>
        </footer>
    </div>
</body>

</html>