{% block content %}
<html>
{{message}}
<p>User ID: {{stu_id}}</p>
<p>User Name: {{name}}</p>
<p>User Phone: {{phone}}</p>
<p>User Email: {{mail}}</p>
<p>User Permission: {{permission}}</p>
<input type='button' value='Logout' onclick='location="/AS/logout/"'>
<input type='button' value='Modify Account' onclick='location="/AS/modify/"'>
<!--
<input type="button" value="修改資料" onclick="location='/account/modify/'">
<input type="button" value="返回主頁" onclick="location='/shoppingCart/index/'">
<input type="button" value="訂單查詢 " onclick="location='/account/list_order'">
-->
</html>
{% endblock %}