{% block content %}
<html>
<form action='.' method='POST' name='form1'>
    {% csrf_token %}
    <div>User Id：<input type='text' name='username' id='username'/></div>
    <div>User Password：<input type='password' name='password' id='password'/></div>
    <div>
    <input type='submit' name='login' id='login' value='Login' />
    <!--
    <input type='button' value='sign' onclick="location='/AS/sign/'">
    -->
    </div> 
    <span style='color:blue'>{{message}}</span>
</form>
</html>
{% endblock %}