{% extends 'AS/base.html' %}

{% block title %}
    宿舍管理系統 - 登入
{% endblock %}

{% block article %}
    <h1>登入</h1>
    <hr class="heading">
    <form action='.' method='POST' name='form1'>
        {% csrf_token %}
        <table>
            <tr><th>帳號：</th> <td><input required type='text' name='username' class='check-input'/></td></tr>
            <tr><th>密碼：</th> <td><input required type='password' name='password' class='check-input'/></td></tr>
        </table>
        <div class="button-section"><input class='button-accept' type='submit' name='login' value='Login'></div>
        <!--
        <span style='color:blue'>{{message}}</span>
        <input type='button' value='sign' onclick="location='/AS/sign/'">
        -->
    </form>
{% endblock %}

{% block topbar %}{% endblock %}

{% block navbar %}
    {% include 'AS/navbar.html' %}
{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="/AS/index/" class="sidebar-item">會員基本資料</a></li>
        <li><a href="/AS/modify/" class="sidebar-item">修改基本資料</a></li>
        <li><a href="/AS/logout/" class="sidebar-item">登出系統</a></li>
        <li><a href="/AS/test/" class="sidebar-item">測試</a></li>
    </ul>
{% endblock %}