{% extends 'AS/base.html' %}

{% block title %}
    宿舍管理系統 - 會員基本資料
{% endblock %}

{% block article %}
    <h1>會員基本資料</h1>
    <hr class='heading'>
    <!--{{message}}-->
    <table class="normal">
        <tr><th>學號：</th> <td>{{stu_id}}</td></tr>
        <tr><th>姓名：</th> <td>{{name}}</td></tr>
        <tr><th>連絡電話：</th> <td>{{phone}}</td></tr>
        <tr><th>E-mail：</th> <td>{{mail}}</td></tr>
        <tr><th>使用者權限：</th> <td>{{permission}}</td></tr>
    </table>

    <div class='button-section'>
        <input class='button-accept' type='button' value='登出' onclick='location="/AS/logout/"'>
        <input class='button-decline' type='button' value='修改基本資料' onclick='location="/AS/modify/"'>
        <input class='button-decline' type='button' value='修改密碼' onclick='location="/AS/modify_password/"'>
        
        {% if account.permission <= 1 %}
            <input class='button-warning' type='button' value='匯入學生資料' onclick='location="/BMS/stuinfo_import/"'>
        {% endif %}

        {% if request.user.is_superuser %}
            <input class='button-warning' type='button' value='管理員後台' onclick='location="/admin/"'>
        {% endif %}
    </div>

    <!--
    <input type="button" value="修改資料" onclick="location='/account/modify/'">
    <input type="button" value="返回主頁" onclick="location='/shoppingCart/index/'">
    <input type="button" value="訂單查詢 " onclick="location='/account/list_order'">
    -->
{% endblock %}

{% block topbar %}
{% endblock %}

{% block navbar %}
    {% include 'AS/navbar.html' %}
{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="/AS/main/" class="sidebar-item-selected">會員基本資料</a></li>
        <li><a href="/AS/modify/" class="sidebar-item">修改基本資料</a></li>
        <li><a href="/AS/modify_password/" class="sidebar-item">修改密碼</a></li>
        <li><a href="/AS/logout/" class="sidebar-item">登出系統</a></li>

        {% if account.permission <= 1 %}
            <li><a href="/BMS/stuinfo_import/" class="sidebar-item-limited">匯入學生資料</a></li>
        {% endif %}
        {% if request.user.is_superuser %}
            <li><a href="/admin/" class="sidebar-item-limited">管理員後台</a></li>
        {% endif %}
    </ul>
{% endblock %}