{% block content %}

<html>
	<span style='color:red'>{{message}}</span>
	<p>User Id:{{username}}</p>
	<form action='.' method='POST' name='form1'>
		{% csrf_token %}
		<p>Input your current password:
		<input type='password' value='{{password}}' name='current_pass' id='current_pass' />
		</p>
		<p>Input your new password:
		<input type='password' name='new_pass' id='new_pass' />
		</p>
		<p>Confirm your new password:
		<input type='password' name='check_pass' id='check_pass' />
		</p>
		<input type='submit' name='button' id='button' value='Submit' />
		<input type='button' value='Return' onclick='location="/AS/modify/"'>
	</form>
</html>

{% endblock %}