{% extends 'AS/base.html' %}

{% block title %}
    宿舍管理系統 - 修改密碼
{% endblock %}

{% block article %}
	<h1>修改密碼</h1>
    <hr class='heading'>
	<form action='.' method='POST' name='form1'>
		{% csrf_token %}

		<table class="normal">
			<tr><th>目前密碼：</th> <td><input required type='password' name='current_pass' class="check-input"></td></tr>
			<tr><th>新密碼：</th> <td><input required type='password' name='new_pass' class="check-input"></td></tr>
			<tr><th>確認密碼：</th> <td><input required type='password' name='check_pass' class="check-input"></td></tr>
		</table>
		<div class="button-section">
			<input class='button-accept' type='submit' name='button' value='送出'>
			<input class='button-decline' type='button' value='取消' onclick='location="/AS/main/"'>
		</div>
		
	</form>
	<span class="attention-font">{{message}}</span>
{% endblock %}

{% block topbar %}{% endblock %}

{% block navbar %}
    {% include 'AS/navbar.html' %}
{% endblock %}

{% block sidebar %}
	<ul>
		<li><a href="/AS/main/" class="sidebar-item">會員基本資料</a></li>
		<li><a href="/AS/modify/" class="sidebar-item">修改基本資料</a></li>
		<li><a href="/AS/modify_password/" class="sidebar-item-selected">修改密碼</a></li>
		<li><a href="/AS/logout/" class="sidebar-item">登出系統</a></li>

		<li><a href="/BMS/stuinfo_import/" class="sidebar-item-limited">匯入學生資料</a></li>
		<li><a href="/admin/" class="sidebar-item-limited">管理員後台</a></li>
	</ul>
{% endblock %}