{% extends 'AS/base.html' %}

{% block title %}
    宿舍管理系統 - 修改基本資料
{% endblock %}

{% block article %}
	<form action='.' method='POST' name='form1'>
		{% csrf_token %}
		<p>User Id:{{stu_id}}</p>
		<p>Firstname:
		<input type='text' value='{{fname}}' name='firstname' id='firstname' />
		</p>
		<p>Lastname:
		<input type='text' value='{{lname}}' name='lastname' id='lastname' />
		</p>
		<p>Phone:
		<input type='text' value='{{phone}}' name='phone' id='phone' />
		</p>
		<p>Email:
		<input type='email' value='{{mail}}' name='email' id='email' />
		</p>
		<input class='button-accept' type='submit' name='button' value='Submit' />
		<input class='button-decline' type='button' value='Return' onclick='location="/AS/main/"'>
		<input class='button-warning' type='button' name='button' value='Modify Password' onclick='location="/AS/modify_password/"' />
	</form>
{% endblock %}

{% block topbar %}{% endblock %}

{% block navbar %}
    {% include 'AS/navbar.html' %}
{% endblock %}

{% block sidebar %}
    <ul>
		{% if request.user.is_superuser %}
		<li><a href="/admin/" target="_blank" class="sidebar-item">系統管理員</a></li>
		{% endif %}
        <li><a href="/AS/main/" class="sidebar-item">會員基本資料</a></li>
        <li><a href="/AS/modify/" class="sidebar-item-selected">修改基本資料</a></li>
        <li><a href="/AS/logout/" class="sidebar-item">登出系統</a></li>
    </ul>
{% endblock %}