{% extends 'AS/base.html' %}

{% block title %}
    宿舍管理系統 - 修改基本資料
{% endblock %}

{% block article %}
<html>
	<span style='color:red'>{{message}}</span>
	<p>Id:{{username}}</p>
	<form action='.' method='POST' name='form1'>
		{% csrf_token %}
		<p>Current password:
		<input type='password'name='current_pass' id='current_pass' />
		</p>
		<p>New password:
		<input type='password' name='new_pass' id='new_pass' />
		</p>
		<p>Confirm again:
		<input type='password' name='check_pass' id='check_pass' />
		</p>
		<input class='button-accept' type='submit' name='button' value='Submit' />
		<input class='button-decline' type='button' value='Return' onclick='location="/AS/modify/"'>
	</form>
</html>
{% endblock %}

{% block topbar %}{% endblock %}

{% block navbar %}
    {% include 'AS/navbar.html' %}
{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="/AS/main/" class="sidebar-item">會員基本資料</a></li>
        <li><a href="/AS/modify/" class="sidebar-item-selected">修改基本資料</a></li>
        <li><a href="/AS/logout/" class="sidebar-item">登出系統</a></li>
    </ul>
{% endblock %}