{% extends "AS/base.html" %}

{% block title %}
    宿舍管理系統 - 申請借用空間
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="/DLS/billboard/" class="sidebar-item">公佈欄</a></li>
    {% if is_manager %}
        <li><a href="/DLS/package/" class="sidebar-item">包裹管理</a></li>
        <li><a href="/DLS/borrow/manage/" class="sidebar-item">借用空間管理</a></li>
    {% else %}
        <li><a href="/DLS/package/" class="sidebar-item">查看包裹</a></li>
        <li><a href="/DLS/borrow/apply/" class="sidebar-item-selected">申請借用空間</a></li>
        <li><a href="/DLS/borrow/status/" class = "sidebar-item">空間申請狀態</a></li>
    {% endif %}
</ul>
{% endblock %}


{% block script %}
{% include '../jquery.html %}

<script>
    var now = new Date()
    $("#date").val(now.toISOString().substr(0, 10));
    function is_ok(){
        $.ajax({
            type : "POST",
            url : "/DLS/borrow/check/",
            data : {
                csrfmiddlewaretoken : '{{ csrf_token }}',
                tag : $("#space").val(),
                date : $("#date").val(),
                start_hour : $("#start_hour").val(),
                borrow_length : $("#borrow_length").val()
            },
            dataType : 'json',
            success : function(result){
                $("#checkmessage").html(result['message'])
            }
        });
    }
</script>

{% endblock %}

{% block article %}
<h1>申請借用空間</h1>
<hr class="heading">

    <form method="POST" action="../apply/">
        {% csrf_token %}
        <table class="normal">
            <tr>
                <th>欲借用空間：</th>
                <td>
                    <select class="check-input" id="space" name="tag" onchange="is_ok()" required>
                        {% for e in equip %}
                        <option value="{{ e.tag }}"> {{ e.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <th>開始借用時間：</th>
                <td>
                    <input class="check-input" id="date" type="date" name="date" onchange="is_ok()" required>，
                    <select class="check-input" id="start_hour" name="start_hour" onchange="is_ok()" required>
                        {% for i in i|rjust:11 %}
                        <option value = "{{ forloop.counter | add:'7' }}"> {{ forloop.counter | add:'7' }}</option>
                        {% endfor %}
                    </select> 點
                </td>
            </tr>

            <tr>
                <th>借用時長：</th>
                <td>
                    <select class="check-input" id="borrow_length" name="borrow_length" onchange="is_ok()" required>
                        {% for i in i|rjust:12 %}
                        <option value = "{{ forloop.counter }}"> {{ forloop.counter }}</option>
                        {% endfor %}
                    </select>小時
                </td>
            </tr>

            <tr>
                <th style="vertical-align: top">附註：</th>
                <td><textarea class="normal-input" rows="3" name="memo"></textarea></td>
            </tr>
        </table>
        
        <div class="button-section">
            <input class="button-accept" type="submit" value="提交">
        </div>
        
    </form>

    <div class="attention-font"><span id="checkmessage"></span></div>
{% endblock %}