{% extends "AS/base.html" %}

{% block script %}

{% include '../jquery.html' %}
<script>
    $.ajaxSetup({
        data : {csrfmiddlewaretoken : '{{ csrf_token }}'}
    })
    function Confirm(id){
        console.log(id);
        $.post('./manage/confirm',{
            'id' : id
        }, function(result){
            alert('核可成功');
            document.location.reload();
        });
    }
    function withdraw(id){
        $.post('./manage/withdraw', {
            'id' : id
        }, function(result){
            alert('該申請已退回');
            document.location.reload();
        });
    }
</script>

{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="/DLS/billboard/" class="sidebar-item">公佈欄</a></li>
    {% if is_manager %}
        <li><a href="/DLS/package/" class="sidebar-item">包裹管理</a></li>
        <li><a href="/DLS/borrow/" class="sidebar-item-selected">借用空間管理</a></li>
    {% else %}
        <li><a href="/DLS/package/" class="sidebar-item">查看包裹</a></li>
        <li><a href="/DLS/borrow/apply/" class="sidebar-item">申請借用空間</a></li>
        <li><a href="/DLS/borrow/status/" class = "sidebar-item">空間申請狀態</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block article %}
    <button class = 'button-accept' onclick="document.location.href = '../showall'"> 
        列出全部借用紀錄 
    </button>
    <div>
    <table>
        <thead>
            <tr>
                <th> 借用編號 </th>
                <th> 借用人 </th>
                <th> 欲借用地點 </th>
                <th> 開始時間 </th>
                <th> 結束時間 </th>
                <th> 備註 </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for r in record %}
            <tr>
                    <td> {{ r.id }} </td>
                    <td> {{ r.account.user.username }} </td>
                    <td> {{ r.tag.name }} </td>
                    <td> {{ r.start_time }} </td>
                    <td> {{ r.end_time }} </td>
                    <td> {{ r.memo }}</td>
                    <td> <button class = 'button-accept' onclick = "Confirm('{{ r.id }}')"> 核可申請 </button></td>
                    <td> <button class = 'button-warning' onclick = "withdraw('{{ r.id }}')"> 退回申請 </button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}