{% extends "AS/base.html" %}

{% block title %} 宿舍管理系統 - 借用空間管理 {% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="/DLS/billboard/" class="sidebar-item">公佈欄</a></li>
    {% if is_manager %}
        <li><a href="/DLS/package/" class="sidebar-item-limited">包裹管理</a></li>
        <li><a href="/DLS/borrow/manage/" class="sidebar-item-limited-selected">借用空間管理</a></li>
    {% else %}
        <li><a href="/DLS/package/" class="sidebar-item">查看包裹</a></li>
        <li><a href="/DLS/borrow/apply/" class="sidebar-item">申請借用空間</a></li>
        <li><a href="/DLS/borrow/status/" class = "sidebar-item">空間申請狀態</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block article %}
<h1>借用空間管理</h1>
<hr class="heading">

<button class = 'button-accept' onclick="document.location.href = './'"> 
    管理待核可申請
</button>

<div>
    <table class="vertical">
        <thead>
            <tr>
                <th colspan="6" style="text-align: center; background-color: #c4c4c4">借用歷史紀錄</td>
            </tr>
            <tr>
                <th>No.</th>
                <th>借用人</th>
                <th>地點</th>
                <th>開始時間</th>
                <th>結束時間</th>
                <th>狀態</th>
            </tr>
        </thead>
        {% for r in record %}
            <tbody class="table-block">
                <tr>
                    <td rowspan="2">{{ r.id }}</td>
                    <td>{{ r.account.user.username }}</td>
                    <td>{{ r.tag.name }}</td>
                    <td>{{ r.start_time }}</td>
                    <td>{{ r.end_time }}</td>
                    <td><span class="attention-font">{{ r.get_confirm_display }}</span></td>
                </tr>
                <tr>
                    <td colspan="5">備註：{{ r.memo }}</td>
                </tr>     
            </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}