
{% extends "base.html" %}
{% block content %}

<!-- 公佈欄顯示 -->
{% for b in billboard %}
    <div>
        <table width = 640 align = 'center' border = '3px'>
            <tbody id = "content{{b.id}}">
                <tr>
                    <td> {{ b.title }}</td>
                </tr>
                <tr>
                    <td> {{ b.content | safe }} </td>
                </tr>
                <tr>
                    <td> 發布日期 : {{ b.date }}  </td>
                </tr>
                <tr>
                    <td> 發布者 : {{ b.publisher.user.username }}</td>
                </tr>
                {% if is_manager %}
                <tr>
                    <td>
                        <button onclick = "Modify_Billboard( '{{ b.id }}' )">修改</button>
                        <button onclick = "Delete_Billboard( '{{ b.id }}' )">刪除</button>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endfor %}


<!-- 是管理員顯示的內容 -->
{% if is_manager %}

    <input id = "new_billboard" type = "button" value = "新增公佈欄">
    <input type = "button" value = "刪除公佈欄">
    <input type = "button" value = "更新公佈欄">

    <div id='new_dialog'>
        <form>
            <span>標題 : </span><input id = "new_title" type = "text"> <br/>
            <textarea id='new_content'></textarea>
            <p id='error_msg'></p>
        </form>
    </div>

    <div id='modify_dialog'>
        <form>
            <span>標題 : </span><input id = "modify_title" type = "text"> <br/>
            <textarea id='modify_content'></textarea>
            <p id='error_msg'></p>
        </form>
    </div>

    <style>
        #new_dialog{
            display:none
        }
        #modify_dialog{
            display: none
        }
    </style>
    
    <script>
        window.onload = function(){
            $("#new_billboard").click(function(){
                $("#new_dialog").dialog({
                    width: 800,
                    buttons: {
                        "新增公告" : function(){
                            var title = $("#new_title").val()
                            var content = CKEDITOR.instances.new_content.getData();
                            alert(content);
                            
                            if(content.length !== 0){
                                $.post("/DLS/addbillboard", {
                                    title : title, 
                                    content : content,
                                    csrfmiddlewaretoken: '{{ csrf_token }}'
                                });
                                window.location.reload();
                            }else{
                                $("#new_dialog p").text('公告不得為空')
                            }
                        },
                        "取消" : function(){
                            $(this).dialog("close")
                        }
                    },
                    open : function(){
                        $("#new_dialog textarea").ckeditor();
                    }
                })
            })
        }
    </script>

{% endif %}

<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    function Modify_Billboard(id){

        var billboard = document.getElementById('content'+id).getElementsByTagName('td')

        $("#modify_dialog").dialog({
            width: 800,
            buttons: {
                "更新公告" : function(){
                    var Modify_title = $("#modify_title").val()
                    var Modify_content = CKEDITOR.instances.modify_content.getData();
                    
                    if(content.length !== 0){
                        $.post("/DLS/modifybillboard", {
                            id : id,
                            title : Modify_title, 
                            content : Modify_content,
                        });
                        window.location.reload();
                    }else{
                        $("#modify_dialog p").text('公告不得為空')
                    }
                },
                "取消" : function(){
                    $(this).dialog("close")
                }
            },
            open : function(){
                $("#modify_content").ckeditor();
                $("#modify_title").val(title);
                CKEDITOR.instances.modify_content.setData(content);
            }
        });
    }
    function Delete_Billboard(id){
        $.post('/DLS/deletebillboard', { 
            id : id, 
        });
        window.location.reload();
    }
</script>

{% endblock %}