
{% extends "AS/base.html" %}

{% block title %} 宿舍生活系統 {% endblock %}

{% block script %}

{% include 'jquery.html'%}

<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    window.onload = function(){
        $("#new_billboard").click(function(){
            $("#new_dialog").dialog({
                width: 800,
                buttons: {
                    "新增公告" : function(){
                        var title = $("#new_title").val()
                        var content = CKEDITOR.instances.new_content.getData();
                        alert(content);
                        
                        if(content.length !== 0){
                            $.post("/DLS/addbillboard", {
                                title : title, 
                                content : content,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            });
                            window.location.reload();
                        }else{
                            $("#new_dialog p").text('公告不得為空')
                        }
                    },
                    "取消" : function(){
                        $(this).dialog("close")
                    }
                },
                open : function(){
                    $("#new_dialog textarea").ckeditor();
                }
            })
        })
    }

    function Modify_Billboard(id){

        var billboard = document.getElementById('content'+id).getElementsByTagName('td');
        var origin_title = billboard[1].innerHTML;
        var origin_content = billboard[3].innerHTML;
        
        $("#modify_dialog").dialog({
            width: 800,
            buttons: {
                "更新公告" : function(){
                    var Modify_title = $("#modify_title").val();
                    var Modify_content = CKEDITOR.instances.modify_content.getData();
                    
                    if(content.length !== 0){
                        $.post("/DLS/modifybillboard", {
                            id : id,
                            title : Modify_title, 
                            content : Modify_content,
                        });
                        window.location.reload();
                    }else{
                        $("#modify_dialog p").text('公告不得為空')
                    }
                },
                "取消" : function(){
                    $(this).dialog("close");
                }
            },
            open : function(){
                $("#modify_content").ckeditor();
                $("#modify_title").val(origin_title);
                CKEDITOR.instances.modify_content.setData(origin_content);
            }
        });
    }
    function Delete_Billboard(id){
        $.post('/DLS/deletebillboard/', { 
            'id' : id,
            function(result){
                document.location.reload();
            } 
        });
    }

</script>

{% endblock %}

{% block article %}

<!-- 是管理員顯示的內容 -->
{% if is_manager %}

    <button class = "button-accept" id = "new_billboard">新增公佈欄</button>

    <div id='new_dialog'>
        <form>
            <span>標題 : </span><input id = "new_title" type = "text"> <br/>
            <textarea id='new_content'></textarea>
            <p id='error_msg'></p>
        </form>
    </div>

    <div id='modify_dialog'>
        <form>
            <span>標題 : </span><input id = "modify_title" type = "text"> <br/>
            <textarea id='modify_content'></textarea>
            <p id='error_msg'></p>
        </form>
    </div>

    <style>
        #new_dialog{
            display: none
        }
        #modify_dialog{
            display: none
        }
    </style>
    
    

{% endif %}

<!-- 公佈欄顯示 -->
{% for b in billboard %}
    <div>
        <table>
            <tbody id = "content{{b.id}}">
                <tr>
                    <td>標題 : </td>
                    <td> {{ b.title }}</td>
                </tr>
                <tr>
                    <td>內容 : </td>
                    <td> {{ b.content | safe }} </td>
                </tr>
                <tr>
                    <td>發布日期 : </td>
                    <td>{{ b.date }}   </td>
                </tr>
                <tr>
                    <td>發布者 : </td>
                    <td> {{ b.publisher.user.username }}</td>
                </tr>
                {% if is_manager %}
                <tr>
                    <td>
                        <button class = "button-accept" onclick = "Modify_Billboard( '{{ b.id }}' )">修改</button>
                        <button class = "button-warning" onclick = "Delete_Billboard( '{{ b.id }}' )">刪除</button>
                    </td>
                </tr>
                {% endif %}
                <br/><br/>
            </tbody>
        </table>
    </div>
{% endfor %}

{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="/DLS/billboard/" class="sidebar-item-selected">公佈欄</a></li>
    {% if is_manager %}
        <li><a href="/DLS/package/" class="sidebar-item">包裹管理</a></li>
        <li><a href="/DLS/borrow/manage/" class="sidebar-item">借用空間管理</a></li>
    {% else %}
        <li><a href="/DLS/package/" class="sidebar-item">查看包裹</a></li>
        <li><a href="/DLS/borrow/apply/" class="sidebar-item">申請借用空間</a></li>
        <li><a href="/DLS/borrow/status/" class = "sidebar-item">空間申請狀態</a></li>
    {% endif %}
</ul>
{% endblock %}