{% extends "AS/base.html" %}

{% block script %}

{% include "../jquery.html" %}

<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    function verify(id){
        $.post('package/verify', { id : id });
        window.location.reload();
    }
    function modify(id){
        window.location.href = "modify/" + id + "/";
    }
    
</script>

{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="/DLS/billboard/" class="sidebar-item">公佈欄</a></li>
    {% if is_manager %}
        <li><a href="/DLS/package/" class="sidebar-item-selected">包裹管理</a></li>
        <li><a href="/DLS/borrow/manage/" class="sidebar-item">借用空間管理</a></li>
    {% else %}
        <li><a href="/DLS/package/" class="sidebar-item">查看包裹</a></li>
        <li><a href="/DLS/borrow/apply/" class="sidebar-item">申請借用空間</a></li>
        <li><a href="/DLS/borrow/status/" class = "sidebar-item">空間申請狀態</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block article %}

<div>
    <table>
        <thead>
            <tr>
                <th>日期</th>
                <th>種類</th>
                <th>寄件者</th>
                <th>狀態</th>
            </tr>
        </thead>    
        <tbody>
        {% for p in package %}
        
            <tr>
                <td> {{ p.date }} </td>
                <td> {{ p.category }} </td>
                <td> {{ p.sender }} </td>
                <td> {% if p.verify %} 已確認 {% else %} 尚未確認 {% endif %}</td>
                <td> <button class = "button-accept" onclick = "verify('{{ p.id }}')"> 確認 </button></td>
            </tr>

        </tbody>

        {% endfor %}
    </table>
</div>


{% endblock %}

