{% extends 'DMS/base.html' %}

{% block title %}
    宿舍申請
    {{message}}
{% endblock %}
{%block user%}
        {{name}}
        <input type="button" value="修改資料" onclick="location='/DMS/modify/'">
        <input type="button" value="登出" onclick="location='/DMS/logout/'">
<script type="text/Javascript">
     function admin(){
            //document.write("Hello World!");
            token = document.getElementById('PermissionToken');
            //document.write(token.value);
        if (token.value=="False"){
            var Btn = document.getElementById("btn");
            Btn.style.display = "none";
        }
        else{
            window.location.href = "/DMS/Administrator/";
        }
     }
</script>
{%endblock%}
{% block content %}
    <select name = "宿舍類型">
        <option value="綜合宿舍">綜合宿舍</option>
        <option value="學一">學一</option>
        <option value="學二">學二</option>
    </select>
    <input type="submit"    >
{% endblock%}