{% extends 'DMS/base.html' %}

{% block title %}
    宿舍申請
    {{message}}
{% endblock %}
{%block user%}
        {{name}}
        <input type="button" value="修改資料" onclick="location='/AS/modify/'">
        <input type="button" value="登出" onclick="location='/AS/logout/'">
<script type="text/Javascript">
     function admin(){
            //document.write("Hello World!");
            token = document.getElementById('PermissionToken');
            //document.write(token.value);
        if (token.value=="False"){
            var Btn = document.getElementById("btn");
            Btn.style.display = "none";
        }
        else{
            window.location.href = "/DMS/Administrator/";
        }
     }
</script>
{%endblock%}
{% block content %}
    <form action="/DMS/DormCheck" method="post">
        {% csrf_token %}
    志願序一：
    <select name = "Dorm1">
        <option value=0>綜合宿舍</option>
        <option value=1>學一</option>
        <option value=2>學二</option>
    </select><br><br>
    志願序二：
    <select name = "Dorm2">
        <option value=0>綜合宿舍</option>
        <option value=1>學一</option>
        <option value=2>學二</option>
    </select><br><br>
    志願序三：
    <select name = "Dorm3">
        <option value=0>綜合宿舍</option>
        <option value=1>學一</option>
        <option value=2>學二</option>
    </select><br><br>

    <input type="submit" value="確定申請"><br>
    </form>
    <a href = 'http://140.127.232.71/02life/life061.asp'>宿舍說明</a><br>
    開放申請時間：{{start}} ~ {{end}}
    <font color="fb0606">{{ error }}</font>
{% endblock%}