{% extends 'AS/base.html' %}

{% block title %}
    宿舍管理系統 - 宿舍管理
{% endblock %}

{% block article %}
    <h1>宿舍管理</h1>
    <hr class="heading">
    <table class="normal">
        <tr><th>宿舍入住狀況：</th><td>{{dorm.status}}</td></tr>
        <tr><th>宿舍：</th><td>{{dorm.building}}</td></tr>
        <tr><th>房間：</th><td>{{dorm.room}}</td></tr>
        <tr><th>床位：</th><td>{{dorm.bed}}</td></tr>
    </table>
    <div class="button-section">
        <input class="button-accept" type="button" value="入宿申請" onclick="location.href='/DMS/DormitoryApply'">
        <input class="button-decline" type="button" value="宿舍分發查詢" onclick="location.href='/DMS/DormCheck'">
        {% if lived %}
            <input class="button-warning" type="button" value="退宿申請" onclick="location.href='/DMS/DormRetreatApply'">
        {% endif %}
    </div>

    {% if Permission %}
    <div class="button-section">
        <input class="button-warning" type="button" value="宿舍分發" onclick="location.href='/DMS/DormDistribution'">
        <input class="button-warning" type="button" value="移除住宿資格" onclick="location.href='/DMS/DormRetreat'">
        <input class="button-warning" type="button" value="設定開放日期" onclick="location.href='/DMS/DormSetting'">
    </div>
    {% endif %}
    <span class="attention-font">{{ error }}{{ message }}</span>
{% endblock %}

{% block topbar %}{% endblock %}

{% block navbar %}
    {% include 'DMS/navbar.html' %}
{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="/DMS/DormitoryApply" class="sidebar-item">入宿申請</a></li>
        <li><a href="/DMS/DormCheck" class="sidebar-item">宿舍分發查詢</a></li>
        {% if lived %}
            <li><a href="/DMS/DormRetreatApply" class="sidebar-item">退宿申請</a></li>
        {% endif %}
        {% if Permission %}
            <li><a href="/DMS/DormDistribution" class="sidebar-item-limited">宿舍分發</a></li>
            <li><a href="/DMS/DormRetreat" class="sidebar-item-limited">移除住宿資格</a></li>
            <li><a href="/DMS/DormSetting" class="sidebar-item-limited">設定開放日期</a></li>
        {% endif %}
    </ul>
{% endblock %}