{% extends 'AS/base.html' %}

{% block title %}
    宿舍管理系統 - 退宿
{% endblock %}

{% block article %}
<script type="text/javascript">
    function Retreat()
    {
        var r = confirm("確定要將該學生退宿嗎?")
        if(r==true)
        {
            window.location.href = "{{ student.name }}"
        }
    }
</script>
    <h1>退宿</h1>
    <hr class="heading">
    <form action="/DMS/DormRetreat/" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>學號：</th>
                <td><input required type='text' name='username' class='check-input'/></td>
                <td><input class='button-accept' type='submit' value='查詢'></td>
            </tr>

        </table>
    </form>
    <font color="fb0606">{{ error }}{{ message }}</font>
    <table>
        <tr>
            <th>學生</th>
            <th>宿舍</th>
            <th>房間</th>
            <th>床位</th>
        </tr>
        <tr>
            <td>{{student.name}}</td>
            <td>{{student.building}}</td>
            <td>{{student.room}}</td>
            <td>{{student.bed}}</td>
            {% if Check %}
                <td><input class = "button-accept" type="button" onclick="Retreat()"value="退宿"></td>
            {% endif %}
        </tr>
    </table>
{% endblock %}

{% block topbar %}{% endblock %}

{% block navbar %}
    {% include 'DMS/navbar.html' %}
{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="/DMS/DormitoryApply" class="sidebar-item">宿舍申請</a></li>
        <li><a href="/DMS/DormCheck" class="sidebar-item">住宿申請結果查詢</a></li>
        {% if lived %}
        <li><a href="/DMS/DormRetreatApply" class="sidebar-item">退宿申請</a></li>
        {% endif %}
        {% if Permission %}
        <li><a href="/DMS/DormRetreat" class="sidebar-item-selected">退宿</a></li>
        <li><a href="/DMS/DormSetting" class="sidebar-item">系統設定</a></li>
        {% endif %}
    </ul>
{% endblock %}